<div _ngcontent-c9="" class="col-md-6">
  <card _ngcontent-c9="" _nghost-c10="" class="ng-tns-c10-30">
    <profile _ngcontent-c9="" _nghost-c12="">
        <div _ngcontent-c12="" class="profile-wrap animated fadeIn">
          <div _ngcontent-c12="" class="info-wrap">
            <div _ngcontent-c12="" class="avatar-wrap">
              <img _ngcontent-c12="" alt="avatar" src="assets/images/avatar.png">
            </div>
            <span _ngcontent-c12="" class="user-name">Folisise Chosielie</span>
            <span _ngcontent-c12="" class="user-post">Musician, Player</span>
            <span _ngcontent-c12="" class="map-location">
              <i _ngcontent-c12="" class="fa fa-map-marker"></i>
              <span _ngcontent-c12="">Shen Zhen</span>
            </span>
          </div>
          <div _ngcontent-c12="" class="profile-head">
            <img _ngcontent-c12="" alt="profile-head-bg" class="profile-head-bg" src="assets/images/avatar.png">
          </div>
          <div _ngcontent-c12="" class="profile-foot">
            <h4 _ngcontent-c12="">Skills</h4>
            <div _ngcontent-c12="" class="skills-wrap">
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
            </div>
            <h4 _ngcontent-c12="">Social</h4>
            <ul _ngcontent-c12="" class="contact-way-item">
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-wechat" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-weibo" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-facebook" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-github" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-envelope" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
    </profile>
  </card>
</div>      
<div _ngcontent-c9="" class="col-md-6">
  <card _ngcontent-c9="" _nghost-c10="" class="ng-tns-c10-30">
    <profile _ngcontent-c9="" _nghost-c12="">
        <div _ngcontent-c12="" class="profile-wrap animated fadeIn">
          <div _ngcontent-c12="" class="info-wrap">
            <div _ngcontent-c12="" class="avatar-wrap">
              <img _ngcontent-c12="" alt="avatar" src="assets/images/avatar.png">
            </div>
            <span _ngcontent-c12="" class="user-name">Folisise Chosielie</span>
            <span _ngcontent-c12="" class="user-post">Musician, Player</span>
            <span _ngcontent-c12="" class="map-location">
              <i _ngcontent-c12="" class="fa fa-map-marker"></i>
              <span _ngcontent-c12="">Shen Zhen</span>
            </span>
          </div>
          <div _ngcontent-c12="" class="profile-head">
            <img _ngcontent-c12="" alt="profile-head-bg" class="profile-head-bg" src="assets/images/avatar.png">
          </div>
          <div _ngcontent-c12="" class="profile-foot">
            <h4 _ngcontent-c12="">Skills</h4>
            <div _ngcontent-c12="" class="skills-wrap">
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
            </div>
            <h4 _ngcontent-c12="">Social</h4>
            <ul _ngcontent-c12="" class="contact-way-item">
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-wechat" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-weibo" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-facebook" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-github" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-envelope" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
    </profile>
  </card>
</div> 
<div _ngcontent-c9="" class="col-md-6">
  <card _ngcontent-c9="" _nghost-c10="" class="ng-tns-c10-30">
    <profile _ngcontent-c9="" _nghost-c12="">
        <div _ngcontent-c12="" class="profile-wrap animated fadeIn">
          <div _ngcontent-c12="" class="info-wrap">
            <div _ngcontent-c12="" class="avatar-wrap">
              <img _ngcontent-c12="" alt="avatar" src="assets/images/avatar.png">
            </div>
            <span _ngcontent-c12="" class="user-name">Folisise Chosielie</span>
            <span _ngcontent-c12="" class="user-post">Musician, Player</span>
            <span _ngcontent-c12="" class="map-location">
              <i _ngcontent-c12="" class="fa fa-map-marker"></i>
              <span _ngcontent-c12="">Shen Zhen</span>
            </span>
          </div>
          <div _ngcontent-c12="" class="profile-head">
            <img _ngcontent-c12="" alt="profile-head-bg" class="profile-head-bg" src="assets/images/avatar.png">
          </div>
          <div _ngcontent-c12="" class="profile-foot">
            <h4 _ngcontent-c12="">Skills</h4>
            <div _ngcontent-c12="" class="skills-wrap">
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
              <a _ngcontent-c12="" class="skills-tag" href="#">interface</a>
            </div>
            <h4 _ngcontent-c12="">Social</h4>
            <ul _ngcontent-c12="" class="contact-way-item">
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-wechat" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-weibo" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-facebook" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-github" href="#"></a>
              </li>
              <li _ngcontent-c12="" class="contact-way-list">
                <a _ngcontent-c12="" class="info-icon fa fa-envelope" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
    </profile>
  </card>
</div> 
<div class="backdrop"></div>
<div class="fab child" data-subitem="1"><span>C</span></div>
<div class="fab child" data-subitem="2"><span>B</span></div>
<div class="fab child" data-subitem="3"><span>A</span></div>
<div class="fab" id="masterfab"><span>+</span></div>