<!-- <card cardTitle="포트폴리오 작성"> -->
<div class="row" style="padding-left: 30px; padding-right: 30px;">
  <div class="col-md-12 form-group" style="display: flex; justify-content: flex-end;">
    <button class="btn btn-primary">저장</button>
  </div>
  <div class="col-md-12 form-group" style="padding-right: 30px;">
    <label class="control-label">포트폴리오 제목</label>
    <input type="text" class="form-control" placeholder="제목">
  </div>
    <div class="col-md-12 form-group" style="padding-right: 30px;">
      <label class="control-label">프로젝트</label>
      <div class="row">
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="My Store" disabled style="background: rgba(0, 0, 0, 0.1);">
        </div>
        <div class="row col-md-2 form-group" style="padding-right: 30px; display: flex;">
          <label class="switch" style="margin-right: 15px;">
              <input type="checkbox">
              <span class="slider round"></span>
          </label>     
          <button class="btn btn-danger-30">삭제</button>  
        </div> 
      </div>
    </div>
  <div class="col-md-12 form-group" style="padding-right: 30px; display: flex; justify-content: center;">
    <button class="btn btn-primary">프로젝트 추가</button>
  </div>
</div>
<!-- </card> -->
